@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="appTitle">
        <h1 id="appTitle">A web-based application management system</h1>
        <p class="lead">A web-based application management system for television production companies, allowing them to handle actor, TV series, and episode information, with distinct user roles such as Executive, Coordinator, Clerk, and Admin, and features for adding, viewing, and editing data related to actors, shows, and episodes</p>
    </section>

    <div class="row mt-5">
        <section class="col-md-6" aria-labelledby="whatILearned">
            <h2 id="whatILearned">I learned ...</h2>
            <p>
                Completing this project provided me with valuable insights into web application development,
                particularly emphasizing security practices. I developed a strong understanding of implementing roles
                and managing authentication and authorization effectively. Through the creation and association of design
                \model classes for actors, shows, and episodes, I recognized the critical role of data modeling in structuring
                applications. Additionally, I deepened my knowledge of database management by working on table creation and
                establishing relationships between entities. This practical experience significantly bolstered my technical
                expertise in designing secure and well-organized web applications...
            </p>
        </section>
        <section class="col-md-6" aria-labelledby="whatIStruggledWith">
            <h2 id="whatIStruggledWith">I struggled with ...</h2>
            <p>
                I faced challenges while adding new shows and episodes, particularly in managing the complexities of
                configuring associations between actors and shows. These difficulties provided valuable learning opportunities,
                enhancing my problem-solving skills and deepening my understanding of managing relationships within web applications...
            </p>
        </section>
    </div>
</main>